.archive {
  .archive-list {
    @apply m-auto flex flex-wrap justify-between gap-8;

    li {
      @apply flex w-full justify-center md:w-auto;

      a {
        @apply w-full;

        article {
          @apply md:max-w-[340px] lg:max-w-[450px] xl:max-w-[550px];

          h3,
          h4 {
            @apply py-2 font-lato-bold font-bold;
          }

          p {
            @apply pb-2 font-lato-regular;
          }
        }
      }

      picture {
        img {
          @apply md:max-w-[340px] lg:max-w-[450px] xl:max-w-[550px];
        }
      }
    }
  }
}
