.footer {
  @apply flex justify-center bg-blue py-8 text-creme;

  .footer-container {
    @apply m-auto w-full max-w-5xl px-2 xl:px-0;

    .social {
      @apply m-auto flex w-full justify-between;

      .media {
        @apply flex items-center gap-8;
      }

      .logo {
        svg {
          @apply h-18 w-32 md:h-28 md:w-48;

          path {
            @apply fill-creme;
          }
        }
      }
    }

    .info {
      @apply mt-8 font-lato-regular text-lg;

      li {
        @apply my-2 py-2 md:my-4;
      }
    }

    .copyright {
      @apply mt-4;
    }
  }
}
