@import "./theme.css";
@import "./navbar.css";
@import "./banner-section.css";
@import "./prose-block.css";
@import "./swiper.css";
@import "./footer-section.css";
@import "./archive.css";

body {
  @apply bg-creme;
}

main {
  @apply w-full;

  section {
    @apply py-8 md:py-10;

    h1 {
      font-size: clamp(1.42rem, 0.75rem + 3.39vw, 2.44rem);
    }

    h2 {
      font-size: clamp(1.3rem, 0.75rem + 3vw, 2.2rem);
    }

    h3 {
      font-size: clamp(1.1rem, 0.75rem + 2vw, 2rem);
    }

    h4 {
      font-size: clamp(0.9rem, 0.75rem + 2vw, 1.5rem);
    }

    h5 {
      font-size: clamp(0.7rem, 0.75rem + 1vw, 1.1rem);
    }

    p,
    ol,
    ul,
    a,
    button {
      font-size: clamp(1rem, 0.75rem + 1vw, 1.4rem);
    }
  }

  section,
  nav {
    @apply mx-auto max-w-6xl px-2;
  }
}
