.navbar {
  @apply relative mx-auto flex max-w-6xl items-center justify-between bg-creme px-2 xl:px-0;

  .logo {
    svg {
      @apply h-18 w-32 md:h-28 md:w-48;

      path {
        @apply fill-blue;
      }
    }
  }

  .nav-right {
    @apply flex items-center;

    button {
      @apply flex cursor-pointer items-center p-2 font-lato-bold font-bold hover:bg-brown/20;
    }

    a {
      @apply flex cursor-pointer items-center p-2 font-lato-bold font-bold hover:bg-brown/20;
      font-size: clamp(1rem, 0.75rem + 1vw, 1.25rem);
    }

    .navigation {
      @apply absolute top-20 left-2 z-50 flex w-8/12 rounded-2xl bg-blue p-4 font-lato-regular font-bold text-creme transition-all duration-300 ease-in-out md:top-34;

      li {
        a {
          @apply h-full w-full rounded-2xl p-2;

          &:hover {
            @apply bg-brown;
          }
        }
      }
    }

    .navigation[data-is-toggled="false"] {
      @apply pointer-events-none -translate-y-56 opacity-0;
    }

    .navigation[data-is-toggled="true"] {
      @apply pointer-events-auto translate-y-0 opacity-100;
    }

    .menu {
      @apply p-2 hover:bg-brown/20;

      .hamburger {
        @apply flex h-6 w-6 cursor-pointer flex-col items-center justify-around md:h-8 md:w-8;

        div {
          @apply h-[4px] w-6 rounded-2xl bg-blue transition-all duration-500 ease-in-out md:h-[6px] md:w-8;
        }
      }
    }

    .menu[data-is-toggled="true"] {
      .hamburger {
        @apply bg-blue;

        div {
          @apply bg-creme opacity-100;
        }

        .first-div {
          @apply translate-y-2 rotate-45 md:translate-y-2.5;
        }

        .second-div {
          @apply -translate-x-9 opacity-0;
        }

        .third-div {
          @apply -translate-y-2 -rotate-45 md:-translate-y-2.5;
        }
      }
    }
  }
}
