.swiper {
  --swiper-navigation-color: var(--color-brown);

  .swiper-wrapper {
    @apply my-8;

    .gallery-slide {
      @apply m-auto flex w-auto items-center justify-center px-2;

      img {
        @apply max-h-[480px] max-w-[380px] md:max-w-[720px];
      }
    }

    .teaser-slide {
      @apply flex w-auto flex-col justify-between px-2 cursor-grab;

      article {
        @apply flex flex-col items-start self-start pb-2;

        h3 {
          @apply text-start font-lato-bold font-bold;
        }
        h5 {
          @apply font-lato-regular;
        }
      }

      img {
        @apply max-w-[360px];
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    @apply h-16 w-16 rounded-full bg-blue/80 p-2;
  }
}
