@layer base {
  :root {
    --color-creme: 236 236 236;
    --color-black: 1 1 0;
  }
}

@keyframes slide-in-translate-x {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-in-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Lato Regular";
  src: url("/fonts/lato/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Lato Bold";
  src: url("/fonts/lato/Lato-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}

.contact-btn {
  @apply font-lato-bold text-creme cursor-pointer self-end rounded-2xl bg-black px-4 py-2 font-bold hover:bg-gray-700;
}

.whats-app-btn {
  @apply font-lato-bold text-black cursor-pointer self-end rounded-2xl bg-green-500 px-4 py-2 font-bold hover:bg-green-300;
}
