@import "tailwindcss";

@theme {
  --color-creme: #f4efe5;
  --color-blue: #395968;
  --color-black: #0b1111;
  --color-white: #fdfcf7;
  --color-brown: #a97150;
  --font-lato-regular: "Lato Regular", "sans serif";
  --font-lato-bold: "Lato Bold", "sans serif";
  --spacing-teaser-width-sm: 355px;
  --spacing-teaser-width-md: 360px;
  --spacing-slide-width-md: 450px;
  --spacing-slide-width-sm: 680px;
}

@keyframes slide-in-translate-x {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade-in-transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Lato Regular";
  src:
    url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Lato Regular";
  src:
    url("../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Lato Bold";
  src:
    url("../fonts/lato/Lato-Bold.woff2") format("woff2"),
    url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}
